accelerate==0.34.2
annotated-doc==0.0.4
av==16.1.0
beautifulsoup4==4.14.3
bib-lookup==0.1.2
bidict==0.23.1
biosppy==2.2.4
certifi==2026.1.4
chardet==5.2.0
charset-normalizer==3.4.4
chronos-forecasting==1.5.0
click==8.3.1
contourpy==1.3.2
cycler==0.12.1
Cython==3.2.4
deprecate-kwargs==0.1.1
Deprecated==1.3.1
dotmap==1.3.30
einops==0.8.2
et_xmlfile==2.0.0
feedparser==6.0.12
filelock==3.20.0
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.6.3/flash_attn-2.6.3+cu118torch2.4cxx11abiFALSE-cp310-cp310-linux_x86_64.whl#sha256=54e0a7eb80bac9ef0a759f7952202688e514c68c79370e642701b968c8e29ce1
-e git+https://github.com/umassos/FMTK.git@f014d12c99be28141bef5ea916d1eccba278f6a9#egg=fmtk
fonttools==4.61.1
fsspec==2025.12.0
h5py==3.15.1
hf-xet==1.2.0
huggingface-hub==0.24.7
idna==3.11
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.9
MarkupSafe==2.1.5
matplotlib==3.10.8
mock==5.2.0
momentfm==0.1.4
mpmath==1.3.0
networkx==3.4.2
ninja==1.13.0
numpy==1.25.2
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-ml-py==13.590.48
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
opencv-python==4.13.0.92
openpyxl==3.1.5
packaging @ file:///home/task_176104877067765/conda-bld/packaging_1761049113113/work
pandas==2.3.3
PeakUtils==1.3.5
peft==0.10.0
pillow==12.1.1
protobuf==6.33.5
psutil==7.2.2
pyarrow==23.0.1
pyEDFlib==0.1.42
pynvml==13.0.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytorch-metric-learning==2.9.0
pytorch-ranger==0.1.1
pytz==2025.2
PyWavelets==1.8.0
PyYAML==6.0.3
qwen-vl-utils==0.0.14
regex==2026.1.15
requests==2.32.5
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
sgmllib3k==1.0.0
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
soupsieve==2.8.3
sympy==1.14.0
tensorboardX==2.6.4
threadpoolctl==3.6.0
tokenizers==0.20.3
torch==2.4.1+cu118
torch-optimizer==0.3.0
torch_ecg==0.0.28
torchaudio==2.4.1+cu118
torchsummary==1.5.1
torchvision==0.19.1+cu118
tqdm==4.67.3
transformers==4.46.3
triton==3.0.0
typer==0.24.0
typer-slim==0.24.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
vitaldb==1.6.0
wfdb==3.2.0
wrapt==2.1.1
xmltodict==1.0.3

